<header class="w-100 p-3 position-fixed z-2 top-0 start-0 d-flex justify-content-between align-items-center">
    <section>
      <h1 class="fs-2 ls-2 bebas text-light text-shadoww m-0 text-center text-md-start">Spectrum Real Estate</h1>
    </section>
    <nav class="d-none d-md-flex gap-3 align-items-center text-light">
      <a href="#">About us</a>
      <a href="#">Our Agents</a>
      <a href="#">Properties</a>
      <button class="btn btn-sm btn-outline-light">Contact</button>
    </nav>
    <!-- <i class="d-block d-md-none bi bi-telephone-outbound text-light"></i> -->
</header>