<section v-if="!missingProperty" class="container">
    <div class="row justify-content-between g-3">
        <div class="col-12">
            <section class="w-100 mb-3 bg-light shadow-sm rounded d-flex align-items-center fs-small pop p-3">
                <a :href="utilities.env('/')">HOME</a>
                <i class="bi bi-chevron-compact-right"></i>
                <a :href="utilities.env('/properties')" class="text-primary opacity-75">Properties</a>
                <i class="bi bi-chevron-compact-right"></i>
                <span class="text-secondary text-fade">{{myProperty.location}}</span>
            </section>
        </div>
        <div class="col-12 col-lg-6">
            <swiper-container id="property-page-swiper" :init="initSwiper">
                <div class="swiper-slide" v-for="src in myProperty.images.split(',')">
                    <div class="ratio ratio-16x9"><img :src="src" alt="slide" class="img-fluid object-fit-cover rounded"></div>
                </div>
            </swiper-container>
        </div>
        <div class="col-12 col-lg-6">

            <section class="pop d-flex flex-column gap-3">
                
                <small class="pop text-secondary ls-2">{{myProperty.type}}</small>
                <div class="d-flex gap-2 align-items-center">
                    <i class="bi bi-geo-alt fill fs-4 text-secondary"></i>
                    <h1 class="m-0 fs-4 text-primary fw-bold ls-2 text-uppercase">{{myProperty.location}}</h1>
                </div>
                <p class="text-secondary fs-small mx-2 m-0">Discover a property that redefines what it means to live in luxury, with a suite of amenities that exceed expectations.</p>
    
                <div class="container">
                    <div class="row bg-warning rounded text-light py-2">
                        <div class="col-3">
                            <div class="d-flex flex-column gap-1">
                                <span class="fs-xsmall text-dark">AREA</span>
                                <span class="text-dark fs-small fw-bold">{{myProperty.area}}</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex flex-column gap-1">
                                <span class="fs-xsmall text-dark">BATHROOM</span>
                                <span class="text-dark fs-small fw-bold">{{myProperty.bathrooms}}</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex flex-column gap-1">
                                <span class="fs-xsmall text-dark">BEDS</span>
                                <span class="text-dark fs-small fw-bold">{{myProperty.bedrooms}}</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-flex flex-column gap-1">
                                <span class="fs-xsmall text-dark">PARKING</span>
                                <span class="text-dark fs-small fw-bold">{{myProperty.parking}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush fs-small rounded">
                    <li class="list-group-item ls-2 fw-bold">Amenities:</li>
                    <li class="list-group-item text-secondary" v-for="a in myProperty.amenities.split(',')" :key="a"><i class="bi bi-check2"></i> {{a}}</li>
                </ul>
                <a :href="'https://wa.me/'+store.profile.contact.whatsapp" class="btn btn-sm btn-outline-dark d-flex gap-2 align-items-center justify-content-center">
                    
                    <span class="m-0">For {{myProperty.status}} - {{myProperty.price}} $</span>
                </a>
            </section>

        </div>
    </div>  
</section>
<section v-else>
    <small>property is missing</small>
</section>