<section class="search-bar">
    <div class="input-group">
        <select class="form-select" style="width: 400px;">
            <option selected value="">Search for a property</option>
            <option value="Ashrafeye">Ashrafeye</option>
            <option value="Ashrafeye">Dawra</option>
            <option value="Ashrafeye">Jounieh</option>
            <option value="Ashrafeye">Jbeil</option>
            <option value="Ashrafeye">Downtown</option>
            <option value="Ashrafeye">Mkaless</option>
        </select>
        <button class="btn btn-outline-warning d-flex gap-2 align-items-center"><i class="bi bi-filter"></i></button>
        <button class="btn btn-warning d-flex gap-2 align-items-center"><i class="bi bi-search"></i></button>
    </div>
</section>