<section class="container">
    <div class="row g-3">
        <div class="col-12">
            <title-section title="Hot Deals">Unlock scorching savings on dream properties with our sizzling hot deals! Don't miss out!</title-section>
        </div>
        <div class="col-12">
            <swiper-container id="properties-swiper" :init="swiperInit">
                <div class="swiper-slide" v-for="p in hotDeals.slice(-12).reverse()" :key="p" >
                    <property :data="p"></property>
                </div>
            </swiper-container>
        </div>
        <div class="mb-5">
            <div class="col-12 d-flex justify-content-center">
                <a :href="utilities.env('/properties')" class="icon-link icon-link-hover" href="/properties">
                    <small>Check all properties</small>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>