<section>
    <div class="position-relative">
        <slot></slot>
        <span v-if="!store.viewedStory && store.profile.stories.length > 0" class="story-count rounded-pill">{{store.profile.stories.length}}</span>
    </div>
    <aside
        v-if="store.storySidebar"
        class="w-100 h-100 position-fixed d-flex justify-content-center align-items-center z-3 top-0 start-0 bg-aswad">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <swiper-container id="storySwiper" :init="storySwiper">
                        <div class="swiper-slide" v-for="s in store.profile.stories" :key="s">
                            <div class="ratio ratio-1x1">
                                <img :src="s.thumbnail" :alt="s.id" class="skeleton object-fit-contain img-fluid">
                            </div>
                        </div>
                    </swiper-container>
                    <button class="w-100 btn btn-sm btn-secondary" @click="toggleStory">Back</button>
                </div>
            </div>
        </div>
    </aside>
</section>