<section title="Open story">
    <div class="position-relative">
        <slot></slot>
        <span class="story-count rounded-pill">+99</span>
    </div>
    <aside class="w-100 h-100 position-fixed z-3 top-0 start-0 d-flex justify-content-center align-items-center bg-glass">
        <swiper-container id="storySwiper" :init="storySwiper">
            <div class="swiper-slide">
                <div class="w-50 ratio ratio-3x4">
                    <img src="https://picsum.photos/1080" alt="story" class="object-fit-contain img-fluid">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="w-50 ratio ratio-3x4">
                    <img src="https://picsum.photos/1080" alt="story" class="object-fit-contain img-fluid">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ratio ratio-3x4">
                    <img src="https://picsum.photos/1080" alt="story" class="object-fit-contain img-fluid">
                </div>
            </div>
        </swiper-container>
    </aside>
</section>