<section style="height: 100vh;" class="position-relative">
    <swiper-container class="h-100" id="hero-swiper" init="false" pagination="true" loop="true">
        <swiper-slide v-for="i in imgs" :key="i">
            <div class="h-100 ratio ratio-16x9"><img :src="i" alt="hero-slide"
                    class="img-brightness img-fluid object-fit-cover"></div>
        </swiper-slide>
    </swiper-container>
    <aside class="container position-absolute z-2 top-50 start-50 translate-middle">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="display-4 text-shadow bebas text-light">Experience luxury living in Lebanon's finest
                    properties</h2>
                <p class="text-light pop p-1 bg-glass rounded">Indulge in the ultimate expression of refined living as you
                    discover Lebanon's most exquisite properties - where luxury and comfort meet to exceed your
                    expectations.</p>

                <div class="input-group opacity-75">
                    <select class="form-select">
                        <option value="Ashrafeye">Ashrafeye</option>
                        <option value="Ashrafeye">Dawra</option>
                        <option value="Ashrafeye">Jounieh</option>
                        <option value="Ashrafeye">Jbeil</option>
                        <option value="Ashrafeye">Downtown</option>
                        <option value="Ashrafeye">Mkaless</option>
                    </select>
                    <button class="btn btn-warning"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </aside>
</section>