<section style="height: 100vh;" class="position-relative">
    <swiper-container class="h-100" id="hero-swiper" :init="swiperInit">
        <div class="swiper-slide" v-for="s in slides" :key="s">
            <div class="h-100 ratio ratio-16x9">
                <img :src="s" alt="hero-slide" class="skeleton img-brightness img-fluid object-fit-cover">
            </div>
        </div>
    </swiper-container>
    <aside class="container position-absolute z-2 top-50 start-50 translate-middle">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="display-4 text-shadow bebas text-light">Experience luxury living in Lebanon's finest
                    properties</h2>
                <p class="text-light pop p-1 bg-glass rounded">Indulge in the ultimate expression of refined living as you
                    discover Lebanon's most exquisite properties - where luxury and comfort meet to exceed your
                    expectations.</p>

                <button class="w-100 btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#searchbar" ><span class="pop fs-bold">Find Your Perfect Property</span></button>
            </div>
        </div>
    </aside>
</section>